services:
  circuitree:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: circuitree
    ports:
      - "5000:5000"
    environment:
      - TREE_LEDS=100
      - LED_GPIO_PIN=18
      - JOB_TIMEOUT=45
    volumes:
      - ./upload/src:/app
      - ./archives:/app/scheduler/archive
    privileged: true
    devices:
      - /dev/gpiomem:/dev/gpiomem
    restart: unless-stopped
