services:
  circuitree:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: circuitree
    ports:
      - "5000:5000"
    environment:
      - TREE_LEDS=16
      - LED_GPIO_PIN=18
    volumes:
      - ./upload/src:/app
    privileged: true
    devices:
      - /dev/gpiomem:/dev/gpiomem
    restart: unless-stopped
