{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
<div class="content">
    <h1>Welcome to Chippy Tree!</h1>
    <p class="subtitle">Upload your Python code to control the LED tree.</p>
    <nav class="nav-cards">
        <a href="{{ url_for('upload_view') }}" class="nav-card">
            <h2>Upload Code</h2>
            <p>Submit your Python script</p>
        </a>
        <a href="{{ url_for('editor_view')}}" class="nav-card">
            <h2>Open Web Editor</h2>
            <p>Code in your browser</p>
        </a>
        <a href="{{ url_for('monitor') }}" class="nav-card">
            <h2>View Queue</h2>
            <p>Check upload status</p>
        </a>
    </nav>
</div>
{% endblock %}

