{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='queue.css') }}">
{% endblock %}

{% block content %}
<div class="queue-page">
    <div id="header">
        <h1>Queue</h1>
        <p class="notice">Note: Only the most recent 20 completed jobs are kept. Older logs are automatically removed.</p>
    </div>
    <div id="queue-container">
        {% if jobs %}
            <table>
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Username</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                    <tr class="queue-item" class="status-{{ job.status }}" onclick="window.location.href='/job/{{ job.hash }}'">
                        <td>{{ job.timestamp }}</td>
                        <td>{{ job.username }}</td>
                        <td>{{ job.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="empty-queue">Queue is empty</p>
        {% endif %}
    </div>
    <a href="{{ url_for('editor.editor_view') }}" class="upload-link">Write New Code</a>
</div>
{% endblock %}