#queue-container {
    margin: 40px 0;
}
#header {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
}

thead {
    background-color: #F6921D;
    color: #FFFFFF;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #BAB9B7;
}

th {
    font-weight: bold;
}

tr.queue-item:hover {
    background-color: #f5f5f5;
}


.empty-queue {
    text-align: center;
    color: #878787;
    font-size: 18px;
    padding: 40px;
}

.upload-link {
    display: block;
    margin: 0 auto;
    padding: 12px 30px;
    background-color: #F6921D;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    width: fit-content;
}

.upload-link:hover {
    background-color: #e07e14;
}